@font-face {
    font-family: 'League Spartan';
    src: url('./assets/fonts/leaguespartan-bold.ttf') format('TrueType');
    src: url('./assets/fonts/LeagueSpartan-Bold.otf') format('OpenType');
    src: url('./assets/fonts/leaguespartan-bold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('TrueType');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('./assets/fonts/OpenSans-Light.ttf') format('TrueType');
    font-weight: lighter;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./assets/fonts/OpenSans-Bold.ttf') format('TrueType');
    font-weight: bold;
}

/*  

 ######                            
 #     # ######  ####  ###### ##### 
 #     # #      #      #        #   
 ######  #####   ####  #####    #   
 #   #   #           # #        #   
 #    #  #      #    # #        #   
 #     # ######  ####  ######   #   
                                    

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
    vertical-align: baseline;
    outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.5;
    color: #1D2830;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "League Spartan";
    margin-block-start: 0;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

p {
    display: block;
    font-family: "Open Sans";
    font-size: 1em;
    margin-block-start: 0.875em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  

  #####   #####   #####     ######                       
 #     # #     # #     #    #     #   ##    ####  ###### 
 #       #       #          #     #  #  #  #      #      
 #        #####   #####     ######  #    #  ####  #####  
 #             #       #    #     # ######      # #      
 #     # #     # #     #    #     # #    # #    # #      
  #####   #####   #####     ######  #    #  ####  ###### 
                                                         

*/

ul {
    list-style: disc;
    margin-left: 16px;
    margin-bottom: 16px;
}

ol {
    list-style: decimal;
    margin-left: 16px;
    margin-bottom: 16px;
}

ol li ol li {
    list-style: lower-alpha;
    margin-left: 14px;
}

table tr td {
    border: 1px solid #141313;
    padding: 5px;
}

.h-section {
    padding: 60px 0;
}

.dark-section {
    background-color: #02050F;
}


.apresentation {
    padding: 70px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.apresentation p {
    width: 30%;
    margin: 0 auto;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.small-container {
    width: 60%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.item-align {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
}

.btn-primary {
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    display: block;
    box-shadow: 1px 0 8px #62DBE7;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background: #62DBE7;
    font-size: 0.875em;
    padding: 12px 40px;
    color: #02050F;
    width: fit-content;
    margin-top: 18px;
    transition: .3s;
}

.btn-primary:hover {
    background-color: #086871;
    color: #fff;
    box-shadow: none;
}

ol {
    list-style: decimal;
    margin-left: 14px;
}

ol li ol li {
    list-style: lower-alpha;
    margin-left: 14px;
}

table tr td {
    border: 1px solid #141313;
    padding: 5px;
}

.h-title {
    font-family: "League Spartan";
}

.h-title:before {
    content: '';
    height: 5px;
    width: 24px;
    margin-bottom: 8px;
    background-color: #67D8E8;
    box-shadow: 1px 0 8px #62DBE7;
    display: block;
}

.secondary-title {
    font-family: "League Spartan";
    text-align: center;
}

.secondary-title:after {
    content: '';
    height: 5px;
    width: 24px;
    background-color: #67D8E8;
    box-shadow: 1px 0 8px #62DBE7;
    display: block;
    margin: 8px auto 0 auto;
}

.sub-title {
    box-shadow: 1px 0 8px #62DBE7;
    border-radius: 3px;
    font-family: "League Spartan";
    color: #1B4865;
    background-color: #62DBE7;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 6px 30px;
    display: block;
    width: fit-content;
    margin: 0 auto 12px auto;
}

.separator {
    display: block;
    background-color: #62DBE7;
    box-shadow: 1px 0 8px #62DBE7;
    width: 130px;
    height: 5px;
}

/*

 #     # #######    #    ######  ####### ######  
 #     # #         # #   #     # #       #     # 
 #     # #        #   #  #     # #       #     # 
 ####### #####   #     # #     # #####   ######  
 #     # #       ####### #     # #       #   #   
 #     # #       #     # #     # #       #    #  
 #     # ####### #     # ######  ####### #     # 
                                                 

*/

.h-header {
    background-color: #1B4865;
    padding: 8px 0;
}

.h-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-header .logo img{
    width: auto;
    height: 60px;
}

.menu-nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.h-menu-nav {
    display: flex;
    margin: 0;
}

.h-menu-nav li a {
    font-family: "Open Sans Bold";
    text-decoration: none;
    display: block;
    width: fit-content;
}

.h-header .h-menu-nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: width .4s ease-out;
}

.h-header .h-menu-nav a:hover::after{
    width: 100%
}

.menu-item {
    list-style: none;
}

.h-header a {
    color: #fff;
    font-size: 0.875em;
    display: block;
    padding: 5px 12px;
    text-transform: uppercase;
    transition: 0.3s;
}

.h-header .nav-social-links a:hover {
    color: #62DBE7;
}

.h-header .logo:hover {
    color: #fff;
}

.social-media {
    display: flex;
}

.nav-social-links {
    display: flex;
}

.nav-social-links a {
    font-size: 1.125em;
}

@media(max-width: 1200px) {
    .menu-nav {
        width: 80%;
    }
}

@media(max-width: 992px) {
    .h-header .container {
        width: 85%;
    }
}

@media(max-width: 768px) {
    .h-menu-nav {
        flex-direction: column;
        width: 80%;
        margin: 0 auto 48px auto;
    }
    .nav-social-links {
        width: 80%;
        margin: 0 auto;
    }
    .menu-nav {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background: #5fA8D3;
        z-index: 0;
    }
}

/*   

 ######  #     # ######   #####  ####### ######     #     # ####### #     # #     # 
 #     # #     # #     # #     # #       #     #    ##   ## #       ##    # #     # 
 #     # #     # #     # #       #       #     #    # # # # #       # #   # #     # 
 ######  #     # ######  #  #### #####   ######     #  #  # #####   #  #  # #     # 
 #     # #     # #   #   #     # #       #   #      #     # #       #   # # #     # 
 #     # #     # #    #  #     # #       #    #     #     # #       #    ## #     # 
 ######   #####  #     #  #####  ####### #     #    #     # ####### #     #  #####  
                                                                                    

*/

.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger span {
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 30px;
    height: 3px;
}

@media(max-width: 768px) {
    .hamburger {
        display: flex;
        z-index: 1;
    }
}


/*    

 ####### ####### ####### ####### ####### ######  
 #       #     # #     #    #    #       #     # 
 #       #     # #     #    #    #       #     # 
 #####   #     # #     #    #    #####   ######  
 #       #     # #     #    #    #       #   #   
 #       #     # #     #    #    #       #    #  
 #       ####### #######    #    ####### #     # 
                                                 

*/

.h-footer {
    color: #F3F0F2;
}

.footer-map {
    width: 100%;
    background-color: #001220;
    padding: 60px 0;
}

.footer-map .container {
    display: flex;
}

.footer-map img {
    height: 100px;
    width: 100px;
    margin-right: 120px;
}

.footer-contact {
    width: 30%;
}

.footer-contact .contact-info {
    color: #62DBE7;
    font-family: "Open Sans Light";
}

.footer-contact .nav-social-links {
    margin-top: 60px;
}

.footer-contact .nav-social-links a {
    color: #F3F0F2;
    margin-right: 24px;
}

.footer-contact .nav-social-links a:hover, .footer-map .h-menu-nav a:hover {
    color: #62DBE7;
    transition: .3s;
}

.footer-map .h-menu-nav {
    display: flex;
    flex-direction: column;
}

.footer-map .h-menu-nav a {
    color: #F3F0F2;
    margin-bottom: 14px;
}

.footer-copyright {
    text-align: center;
    background-color: #61B6CB;
    padding: 12px 0;
}


@media(max-width: 1200px) {
    .footer-map img {
        margin-right: 170px;
    }
    .footer-contact {
        width: 40%;
    }
}

@media(max-width: 992px) {
    .footer-map img {
        margin-right: 110px;
    }
}

@media(max-width: 768px) {
    .footer-map .container {
        flex-direction: column;
    }
    .footer-map img, .footer-map .footer-contact {
        margin-bottom: 48px;
    }
    .footer-contact .nav-social-links {
        margin-top: 36px;
    }
    .footer-map .h-menu-nav {
        width: 100%;
        margin: 0;
    }
}


/*   

 #     # ####### #     # ####### 
 #     # #     # ##   ## #       
 #     # #     # # # # # #       
 ####### #     # #  #  # #####   
 #     # #     # #     # #       
 #     # #     # #     # #       
 #     # ####### #     # ####### 
                                 

*/


.home-intro {
    color: #F3F0F2;
    padding: 120px 0;
    background: linear-gradient(90deg, #02050F 60%, transparent 100%),
                url('./assets/img/Home.jpg') no-repeat right;
    background-size: contain;
}

.home-intro .text-box {
    width: 45%;
}

.home-intro .text-box .h-title{
    text-transform: uppercase;
}

.home-intro .text-box p {
    font-size: 2em;
    font-family: "Open Sans Light";
}

.about-preview {
    color: #1B4865;
    text-align: justify;
}

.about-preview img {
    width: 47%;
    height: auto;
}

.about-preview .text-box {
    width: 50%;
    margin-left: 24px;
}

.mkt-preview {
    text-align: center;
    color: #F3F0F2;
    position: relative;
    background: url('./assets/img/mkt-digital.jpg') no-repeat fixed center;
    background-size: cover;
}

.mkt-preview::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(2, 5, 15, 0.85); 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.mkt-preview .container {
    position: relative;
}

.mkt-preview .flex-container {
    padding: 50px 0;
}

.procedures {
    margin: 0 24px;
}

.procedures p {
    text-transform: uppercase;
    font-family: "Open Sans Bold";
}

.mkt-preview .btn-primary, .blog-preview .btn-primary, .mkt-section .btn-primary {
    margin: 0 auto;
}

.depoiments {
    width: 60%;
    margin: 30px auto 0 auto;
    text-align: justify;
}

.client {
    width: 270px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.client .client-img {
    width: 70px;
    height: 70px;
    background-image: url('./assets/img/client.png');
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    display: block;
    margin-right: 24px;
    border: 5px solid #62DBE7;
}

.client .client-name {
    color: #62DBE7;
    font-family: "Open Sans Bold";
    margin: 0;
}

.client .client-job {
    margin: 0;
}


.blog-preview {
    background-color: #F8F8F8;
}

.last-post-box {
    width: 23%;
    margin: 36px 1%;
    text-decoration: none;
}

.last-post-box .post-img {
    overflow: hidden;
}

.last-post-box .post-img img {
    width: 100%;
    height: auto;
    transition: transform .3s;
}

.last-post-box .post-img img:hover {
    transform: scale(1.2);
}

.last-post-box h4 {
    font-family: "Open Sans Bold";
    color: #02050F;
    margin-top: 0.5em;
    transition: .3s;
}

.last-post-box:hover > h4 {
    color: #5FA8D3;
}

@media(max-width: 1200px) {
    .home-intro .text-box {
        width: 60%;
    }
}

@media(max-width: 992px) {
    .about-preview .flex-container {
        flex-direction: column;
    }
    .about-preview .text-box {
        width: 100%;
        margin: 0;
    }
    .about-preview img {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 768px) {
    .home-intro {
        background: #02050F;
    }
    .home-intro .text-box {
        width: 100%;
    }
    .content-center {
        flex-direction: column;
    }
    .blog-preview .flex-container {
        flex-direction: column;
    }
    .last-post-box {
        width: 100%;
        margin: 12px 0;
    }
    .client {
        flex-direction: column;
        width: 100%;
    }
}

/*   

  #####  ####### ######  ######  ####### 
 #     # #     # #     # #     # #       
 #       #     # #     # #     # #       
  #####  #     # ######  ######  #####   
       # #     # #     # #   #   #       
 #     # #     # #     # #    #  #       
  #####  ####### ######  #     # ####### 
                                         

*/

.about-section {
    color: #1B4865;
}

.about-infos {
    width: 65%;
}

.about-icons .specialties {
    text-align: center;
    margin-bottom: 24px;
    width: 180px;
}

.about-icons .specialties img{
    width: 80px;
}

.contact-reference .flex-container {
    padding: 50px 0;
}

.contact-reference .flex-container h4{
    font-family: "Open Sans Bold";
    width: 70%;
}

.contact-reference .btn-primary {
    margin: 0;
}

/*    

 ######  #       #######  #####  
 #     # #       #     # #     # 
 #     # #       #     # #       
 ######  #       #     # #  #### 
 #     # #       #     # #     # 
 #     # #       #     # #     # 
 ######  ####### #######  #####  
                                 

*/

.card {
    display: flex;
    align-items: center;
    margin: 36px 0;
}

.img-link {
    width: 40%;
    overflow: hidden;
}

.img-link img {
    width: 100%;
    height: auto;
}

.img-link img:hover {
    transition: transform .3s;
    transform: scale(1.2);
}

.card .card-body {
    width: 60%;
    margin-left: 24px;
}

.card .card-body .card-title {
    text-decoration: none;
    color: #1B4865;
    transition: .3s;
}

.card .card-body .card-title:hover {
    color: #001220;
}

.post-date {
    font-size: 0.75em;
    color: #B4AFAF;
    display: block;
    font-family: "Open Sans";
}

.card .card-body p {
    color: #465E69;
}

.btn-link {
    font-family: "Open Sans Light";
    color: #5FA8D3;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.btn-link:hover::after{
    width: 0;
}

.btn-link:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #5FA8D3;
    transition: width .4s ease-out;
}

.pagination {
    display: flex;
    font-size: 0.875em;
    justify-content: center;
    font-family: "Open Sans Bold";
    margin-top: 60px;
}

.pagination a {
    text-decoration: none;
    color: #465E69;
    display: block;
    transition: .4s;
    padding: 5px 5px;
    margin: 0 4px;
}

.pagination a:hover {
    color: #62DBE7;
}

.pagination span {
    background-color: #62DBE7;
    padding: 5px 13px;
    margin: 0 8px;
    color: #fff;
    border-radius: 5px;
}

.pagination .next {
    border-radius: 0 5px 5px 0;
}

.pagination .prev {
    border-radius: 5px 0 0 5px;
}


/*   

 #     #    #    ######  #    # ####### ####### ### #     #  #####  
 ##   ##   # #   #     # #   #  #          #     #  ##    # #     # 
 # # # #  #   #  #     # #  #   #          #     #  # #   # #       
 #  #  # #     # ######  ###    #####      #     #  #  #  # #  #### 
 #     # ####### #   #   #  #   #          #     #  #   # # #     # 
 #     # #     # #    #  #   #  #          #     #  #    ## #     # 
 #     # #     # #     # #    # #######    #    ### #     #  #####  
                                                                    

*/

.marketing-intro {
    background: linear-gradient(90deg, #02050F 60%, transparent 100%),
                linear-gradient(transparent 60%, #02050F 100%),
                url('./assets/img/Home.jpg') no-repeat right;
    background-size: contain;
    padding: 100px 0;
}

.mkt-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.qualities {
    color: #F3F0F2;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    margin-bottom: 80px;
    width: 40%;
}

.quality-icon {
    padding: 30px;
    border: 3px solid #62DBE7;
    border-radius: 50%;
    box-shadow: 1px 0 8px #62DBE7;
}

.quality-icon img {
    width: auto;
    height: 70px;
}

.quality-type {
    margin-left: 36px;
}

.quality-type h4 {
    text-transform: uppercase;
    font-family: "Open Sans Bold";
}

.quality-type .quality-list {
    list-style: none;
    margin: 0;
}

/*

                                      
  ####  # #    #  ####  #      ###### 
 #      # ##   # #    # #      #      
  ####  # # #  # #      #      #####  
      # # #  # # #  ### #      #      
 #    # # #   ## #    # #      #      
  ####  # #    #  ####  ###### ###### 
                                      

*/

.single-content {
    color: #1B4865;
}

.single-content img {
    width: 100%;
    height: auto;
    margin: 8px 0 18px 0;
}